body{
    margin: 0;
    padding: 0px;
}
body{
    margin: 0;
    padding: 0px;
}

img{
    width: auto;
    height: auto;
    box-shadow: 0 4 px 8 px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

.top-container {
    background-color: white;
}


.card-container{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.card-item{
    width: 200px;
    margin: 10px;
    border: 3px solid black;
    background-color: #dfdfdf;
}
