Unit]
Description=webpoker

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=mvn exec:java -Dexec.mainClass=com.mycompany.app.App
WorkingDirectory=/home/fa2022_group2

[Install]
WantedBy=multi-user.target

